* {
    margin: 0;
    padding 0;
}

html {
    box-sizing: border-box;
    height: 100vw;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }


  body {
      height: 100%;
      background-color: black;
  }
